fastapi
uvicorn[standard]
pydantic
requests

feedparser
icalendar
pytz
python-dateutil
astral
beautifulsoup4

# Hardware drivers (optional - only needed on Raspberry Pi)
pyserial
qrcode[pil]
jsonschema

# Only needed if using the slack integration
slack_bolt
aiohttp
